<div id="articles" class="articles-container">
{{#if articles}}

    <div class="row">
      {{#each articles}}
        <div class="article-item col-md-6 col-lg-4" data-id="{{this._id}}">
            <div class="news-section">
              <span class="card-title"><a href="{{this.link}}">{{this.title}}</a></span>
              <a href="{{this.link}}" target="_blank">View Article</a>
            </div><!--/.news-section -->
            <div class="card-action">
              <a href="#" class="orange-text btn-save">Save Article</a>
            </div><!--/.card-action -->
        </div><!--/.article-item -->
      {{/each}}
    </div><!--/.row -->

{{else}}

  <div class="row">
    <div class="col s12">
      <div class="card-panel text-center">
        <span>There are no Articles</span>
      </div><!--/.card -->
    </div><!--/.article-item -->
  </div><!-- /.row -->

{{/if}}
</div><!-- /.articles-container -->