<div id="articles" class="articles">
  <div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">This article has been added to your saved articles!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info"><a href="/saved" id="modal-save">Saved Articles</a></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{#if articles}}
    <div class="row">
      {{#each articles}}
        <div class="article col-md-12" data-id="{{this._id}}">
            <div class="news-section">
              <img src="{{this.image}}" alt="no image available">
              <span><a class="title" href="{{this.link}}">{{this.title}}</a></span>
            </div><!--/.news-section -->
            <div class="article-links">
              <a href="{{this.link}}" target="_blank">View Article</a>
              ||
              <a href="#" class="save" data-toggle="modal" data-target="#myModal">Save Article</a>
            </div>
        </div><!--/.article -->
      {{/each}}
    </div><!--/.row -->

{{else}}

  <div class="row">
    <div class="col-md-12 text-center">
        <span>There are no Articles</span>
    </div>
  </div><!-- /.row -->

{{/if}}
</div><!-- /.articles -->